# Configuração Supabase - Produtos
VITE_SUPABASE_PRODUCTS_URL=https://jwqzvocwnixatmqzugjf.supabase.co
VITE_SUPABASE_PRODUCTS_KEY=sua_chave_publica_aqui

# Configuração Supabase - Usuários
VITE_SUPABASE_USERS_URL=https://eowweqaoegtddvhszuxt.supabase.co
VITE_SUPABASE_USERS_KEY=sua_chave_publica_aqui

# Nota: Para Netlify, configure essas variáveis em:
# Site settings > Build & deploy > Environment > Environment variables
